### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Imports
import(S4Vectors)
import(Biobase)
import(ggplot2)
import(ggrepel)
import(ggforce)
import(cowplot)
import(scales)
import(umap)
import(Rtsne)
import(pheatmap)
import(BiocStyle)
importClassesFrom(NanoStringNCTools, SignatureSet)
importClassesFrom(S4Vectors,DataFrame)
importClassesFrom(GeomxTools, NanoStringGeoMxSet)
importFrom(NanoStringNCTools, SignatureSet)
importFrom(rjson, fromJSON)
importFrom(readxl, read_xlsx)
importFrom(EnvStats, geoMean)
importFrom(dplyr, count)
importFrom(reshape2, dcast)
importFrom(utils, read.csv)
importFrom(stats, as.formula)
importFrom(stats, quantile)
importFrom(stats, weights)
importFrom(methods, callGeneric)
importFrom(methods, callNextMethod)
importFrom(methods, is)
importFrom(methods, validObject)
importFrom(data.table, data.table, .SD)
importFrom(utils, write.table)
importFrom(outliers, grubbs.test)
importFrom(BiocGenerics, design)
importFrom(BiocGenerics, "design<-")
